## MSE Data Cleaning

### Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Reding Datasets

In [2]:
df=pd.read_csv("MES_0324.csv")
df.head()

,Country,Time,Balance,Product,Value,Unit
0,Australia,Mar-24,Net Electricity Production,Electricity,23130.2764,GWh
1,Australia,Mar-24,Net Electricity Production,Total Combustible Fuels,14353.8714,GWh
2,Australia,Mar-24,Net Electricity Production,"Coal, Peat and Manufactured Gases",10304.7825,GWh
3,Australia,Mar-24,Net Electricity Production,Oil and Petroleum Products,330.5351,GWh
4,Australia,Mar-24,Net Electricity Production,Natural Gas,3492.4621,GWh

In [3]:
df.shape

(140988, 6)

### Data Cleaning

In [4]:
df.isna().sum()

Country     0
Time        0
Balance     0
Product     0
Value      18
Unit        0
dtype: int64

In [5]:
df.dtypes

Country     object
Time        object
Balance     object
Product     object
Value      float64
Unit        object
dtype: object

In [6]:
df.describe(include='all')

,Country,Time,Balance,Product,Value,Unit
count,140988,140988,140988,140988,1.409700e+05,140988
unique,53,171,7,16,NaN,1
top,IEA Total,Mar-21,Net Electricity Production,Electricity,NaN,GWh
freq,3420,998,108526,40667,NaN,140988
mean,NaN,NaN,NaN,NaN,1.863672e+04,NaN
std,NaN,NaN,NaN,NaN,7.921900e+04,NaN
min,NaN,NaN,NaN,NaN,0.000000e+00,NaN
25%,NaN,NaN,NaN,NaN,6.173750e+01,NaN
50%,NaN,NaN,NaN,NaN,6.951661e+02,NaN
75%,NaN,NaN,NaN,NaN,4.347985e+03,NaN
max,NaN,NaN,NaN,NaN,1.004657e+06,NaN

In [7]:
df['Value'].fillna(1.863672e+04,inplace=True)

C:\Users\bdala\AppData\Local\Temp\ipykernel_12260\2950225871.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(1.863672e+04,inplace=True)

In [8]:
df.isna().sum()

Country    0
Time       0
Balance    0
Product    0
Value      0
Unit       0
dtype: int64

In [9]:
df.dtypes

Country     object
Time        object
Balance     object
Product     object
Value      float64
Unit        object
dtype: object

In [10]:
# Splitng the Time column into month and date column
df[['Month', 'Date']] = df['Time'].str.split('-', expand=True)

In [11]:
df = df.drop(['Time'],axis=1)

In [12]:
df.drop(['Unit'],axis=1,inplace=True)

In [13]:
df.head()

,Country,Balance,Product,Value,Month,Date
0,Australia,Net Electricity Production,Electricity,23130.2764,Mar,24
1,Australia,Net Electricity Production,Total Combustible Fuels,14353.8714,Mar,24
2,Australia,Net Electricity Production,"Coal, Peat and Manufactured Gases",10304.7825,Mar,24
3,Australia,Net Electricity Production,Oil and Petroleum Products,330.5351,Mar,24
4,Australia,Net Electricity Production,Natural Gas,3492.4621,Mar,24

In [14]:
for i in df.columns:
    print(f'{i}:\n{df[i].unique()}\n')

Country:
['Australia' 'Austria' 'Belgium' 'Canada' 'Chile' 'Colombia' 'Costa Rica'
 'Czech Republic' 'Denmark' 'Estonia' 'Finland' 'France' 'Germany'
 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Japan' 'Korea' 'Latvia'
 'Lithuania' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand' 'Norway'
 'Poland' 'Portugal' 'Slovak Republic' 'Slovenia' 'Spain' 'Sweden'
 'Switzerland' 'Republic of Turkiye' 'United Kingdom' 'United States'
 'OECD Americas' 'OECD Asia Oceania' 'OECD Europe' 'OECD Total'
 'IEA Total' 'Argentina' 'Brazil' 'Bulgaria' "People's Republic of China"
 'Croatia' 'Cyprus' 'India' 'Malta' 'North Macedonia' 'Romania' 'Serbia']

Balance:
['Net Electricity Production' 'Used for pumped storage'
 'Distribution Losses' 'Final Consumption (Calculated)' 'Total Imports'
 'Total Exports' 'Remarks']

Product:
['Electricity' 'Total Combustible Fuels'
 'Coal, Peat and Manufactured Gases' 'Oil and Petroleum Products'
 'Natural Gas' 'Combustible Renewables' 'Hydro' 'Wind' 'Solar'
 'Total Renewables (Hydro, Geo, Solar, Wind, Other)'
 'Other Combustible Non-Renewables' 'Geothermal' 'Not Specified' 'Nuclear'
 'Data is estimated for this month' 'Other Renewables']

Value:
[ 23130.2764  14353.8714  10304.7825 ...   6869.253   62000.733
 877213.615 ]

Month:
['Mar' 'Feb' 'Jan' 'Dec' 'Nov' 'Oct' 'Sep' 'Aug' 'Jul' 'Jun' 'May' 'Apr']

Date:
['24' '23' '22' '21' '20' '19' '18' '17' '16' '15' '14' '13' '12' '11'
 '10']

In [15]:
df = df[df['Country'] != 'Costa Rica']

In [16]:
#For country
df['Country'].value_counts()

Country
OECD Total                    3420
OECD Europe                   3420
IEA Total                     3420
France                        3408
OECD Americas                 3381
OECD Asia Oceania             3330
United Kingdom                3318
United States                 3297
Germany                       3284
Canada                        3258
Republic of Turkiye           3254
Portugal                      3182
Spain                         3177
Czech Republic                3174
Belgium                       3174
Italy                         3174
Austria                       3174
Slovak Republic               3147
Mexico                        3144
Poland                        3123
Netherlands                   3116
Slovenia                      3070
Finland                       3051
New Zealand                   3050
Sweden                        3046
Hungary                       3036
Japan                         3029
Switzerland                   3024
Korea                         3015
Norway                        3014
Greece                        2939
Luxembourg                    2916
Ireland                       2904
Lithuania                     2879
Denmark                       2805
Latvia                        2715
Estonia                       2697
Australia                     2657
Chile                         2528
Iceland                       2031
Colombia                      2005
People's Republic of China    1638
Brazil                        1584
India                         1584
Romania                       1523
Argentina                     1494
Bulgaria                      1472
Serbia                        1399
Croatia                       1356
North Macedonia               1350
Cyprus                        1161
Malta                         1141
Name: count, dtype: int64

In [17]:
# Deleting the unnecessary data of balance column
df = df[df['Balance'] != 'Remarks']

In [18]:
#For country
df['Balance'].value_counts()

Balance
Net Electricity Production        108175
Distribution Losses                 6963
Final Consumption (Calculated)      6963
Total Imports                       6312
Total Exports                       6301
Used for pumped storage             5771
Name: count, dtype: int64

In [19]:
# Saving cleaned data into csv file
df.to_csv('Cleaned1.csv',index=False)